.related-books > h3{
    width: 70%;
    margin-left: 15%;
    margin-top: 45px;
}

.related-books-list {
    display: grid;
    margin: 5% 10%; 
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media only screen and (max-width: 768px) {
    .related-books-list {
        margin: 5% 8%; 
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
} 