.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    bottom: 0
}
.pagination-buttons {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.pagination-buttons button {
    padding: 10px 15px; 
    background-color: white;
    border: none;
    cursor: pointer;
}
.pagination-buttons button:hover {
    background-color: rgba(220,220,220,0.3);
    border: none;
}
#activePaginationPage {
    background-color: aqua;
}
#disabledButton {
    cursor: not-allowed;
}
#disabledButton:hover {
    background-color: white;
}