.book-preview-details{
    width: 60%;
}
.horizontal-line {
    width: 30%;
    border: 0.3px solid rgba(220, 220, 220, 0.4);
    margin: 70px 0;
}
@media screen and (min-width: 768px) {
    .book-preview-details{
        width: 50%;
    }
    .horizontal-line {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .book-preview-details{
        width: 80%;
        margin: 45px 10%;
    }
    .horizontal-line {
        width: 100%;
    }
}
