.book-description-content > ul > li{
    list-style-type: none;
}
.book-description-content {
    margin: 20px 0;
}
.book-summary > p{
    margin-top: 5px;
    color: gray
}
.book-description-content > ul > li{
    list-style-type: none;
}
.book-description-content {
    margin: 20px 0;
}
.book-summary > p{
    margin-top: 5px;
    color: gray
}