* {
  /* To prevent default behavior of Margin, Padding... */
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--page-background-color);
}

#root {
  height: 100vh;
  width: 100vw;
}

:root {
  --navbar-search-border: grey;
  --navbar-search-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*
  Header
*/
header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* background-color: var(--navbar-background); */
}

/* setting navbar half the size of header element, with space around */
nav {
  display: flex;
  justify-content: space-around;
  height: 80%; /* Relative to header, which is 30px */
  width: 100%;
}

.nav-bookstore-logo {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Each Navbar item should also be in the center of the box*/
nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav-Search */
.nav-search-icon {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
}
.nav-search-icon:hover{
  color: black;
}
.nav-search {
  /* padding: 10px 20px; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--navbar-search-border);
  font-family: var(--navbar-search-font);
  font-size: large;
  /* Distance between Search Icon and Form */
  padding: 0 10px;
}
.nav-search-submit {
  margin: 0 5px;
}

.nav-filter {
  font-size: 1.5rem;
  color: var(--navbar-search-border);
}

.nav-filter:hover{
  color: black;
  cursor: pointer;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-bookstore-add-book {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: 700;
}