.book-preview {
    display: flex;
    width: 100%;
    margin: 50px 0;
    flex-wrap: wrap;
}
.back-button-link {
    text-decoration: none;
    color:black;
    margin-left: 30px
}
.back-button-icon{
    font-size: 2rem
}
.back-button-icon:hover{
    color: blue;
}
@media screen and (max-width: 768px) {
    .book-preview {
        margin: 20px;
    }

}